# ================================
# Dependencies
# ================================
*/node_modules/
node_modules/

# ================================
# Environment variables
# ================================
.env


# ================================
# OS / Editor files
# ================================
.DS_Store
.vscode/
.idea/
